<nav class="navbar">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Calculator</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="/">taskOne</a></li>
        <li><a href="/taskTwo">taskTwo</a></li>
        <li><a href="/taskThree">taskThree</a></li>
        <li><a href="/taskFour">taskFour</a></li>
        <li><a href="/taskFive">taskFive</a></li>
        <li><a href="/taskSix">taskSix</a></li>
    </ul>
  </div>
</nav>
